.landing-main {
  //height: 100svh;
  width: 100%;
  background-color: #004db3;

  .landing-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    position: relative;

    .land-div1 {
      .land-div1-heading {
        width: 670px;

        h1 {
          font-style: normal;
          font-weight: 700;
          font-size: 64px;
          line-height: 82px;
          color: white;

          @media (max-width: 500px) {
            font-size: 30px;
            line-height: 46px;
            text-align: center;
            color: #ffffff;
          }
        }

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 26px;
          color: #e7e7e7;
          width: 530px;
          margin-top: 16px;
          margin-bottom: 32px;

          @media (max-width: 500px) {
            font-size: 8px;
            line-height: 15px;
            text-align: center;
            width: 250px;
          }
        }

        @media (max-width: 500px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 300px;
          margin-top: 40px;
        }
      }

      .land-div1-btn-sec {
        margin-bottom: 24px;
        position: relative;
        button {
          padding: 16px 32px;
          gap: 8px;
          width: 216px;
          height: 54px;
          background-color: transparent;
          color: white;
          border: 1px solid #ffffff;
          border-radius: 4px;
          margin-right: 24px;
          transition: 0.5s;
          cursor: pointer;

          &:hover {
            background-color: #ffffff;
            color: #004db3;
          }

          &:nth-child(2) {
            padding: 16px 32px;
            gap: 10px;
            width: 145px;
            height: 54px;
            color: #004db3;
            background: #ffffff;
            border-radius: 4px;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
              background-color: #004db3;
              border: 1px solid white;
              color: white;
            }

            @media (max-width: 500px) {
              padding: 8px 16px;
              gap: 4px;
              width: 73px;
              height: 27px;
              font-size: 8px;
              line-height: 11px;
            }
          }

          @media (max-width: 500px) {
            padding: 8px 16px;
            gap: 4px;
            width: 110px;
            height: 28px;
            border: 0.55831px solid #ffffff;
            border-radius: 2.23324px;
            font-size: 8px;
            line-height: 11px;
          }
        }

        img {
          position: absolute;
          right: 0;
          top: 0;
          width: 111px;
          margin-top: -50px;

          @media (max-width: 500px) {
            width: 54px;
            //margin-top: -50px;
            transform: rotate(50deg);
          }
        }

        @media (max-width: 500px) {
          display: flex;
          justify-content: center;
        }
      }

      .land-div1-img {
        display: flex;
        align-items: center;
        img {
          margin-right: -25px;
          width: 64px;
          height: 64px;

          @media (max-width: 500px) {
            margin-right: -35px;
            height: 40px;
          }
        }

        .land-div1-img-text {
          margin-left: 40px;
          h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            text-transform: capitalize;
            color: #ffffff;
          }

          p {
            color: #e7e7e7;
          }
        }

        @media (max-width: 500px) {
          justify-content: center;
        }
      }
    }

    .land-div2 {
      //height: 100svh;
      padding-top: 45px;
      position: relative;
      img {
        height: 100%;
        //width: 700px;
        //position: absolute;
        //bottom: 0;
      }

      @media (max-width: 500px) {
        height: 100%;
      }
    }

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
}
